@media screen and (max-width: 1200px) {

	.container{
		width:100%!important;
	}

	.right_box .banner{
		height:auto;
	}

	.right_box .group .title{
		font-size:26px;
		padding: 20px 0;
	}

	.right_box .group .g-list li{
		font-size: 18px;
		height:auto;
		line-height: 2;
		margin-bottom: 0;
	}

	.right_box .text-box{
		margin-top: 20px;
	}

	.right_box .text-box .tb_title{
		height:40px;
		font-size:20px;
		line-height:40px;
	}

	.research .content{
		font-size:16px;
	}

	.right_box .text-box .tb_subtitle{
		font-size:20px;
	}

	.right_box .text-box .tb_subtitle a{
		font-size:14px;
	}

	.right_box .text-box .tb_subtitle:before{
		height: 17px;
		margin-top: 6px;
	}

	.right_box .text-box .news .title{
		font-size:18px;
	}

	.right_box .text-box .cn,.impression .itext,.right_box .text-box .news .remark{
		font-size:16px;
	}

	.right_box .text-box .news .content .cn{
		margin-top:15px;
	}

	
	
}
@media screen and (min-width: 1024px) {
	.hrxg{
		display:none;
	}


}

@media screen and (max-width: 1024px) {

	.left_box{
		left:-9999px;
	}
	
	.right_box{
		padding-left:0;
	}

	.right_box .logo{
		margin-left:0;
	}

	.right_box .header .link{
		margin-right:40px;
	}

	.right_box .header .link a,.right_box .header .link a:last-child{
		margin-right:15px;
	}
	
	.right_box .header .mtab222{
		font-size: 20px;
		padding: 5px 8px;
		margin-top:11px;
	}
	
	.right_box .group .title{
		font-size:24px;
		padding: 20px 0;
		margin-left:0;
	}

	.right_box .header .mtab222{
		display:block;
	}

	.right_box .con{
		margin-left:0;
	}

	.right_box .text-box .list li{
		font-size:16px;
		line-height:26px;
		height:auto;
	}

	.right_box .text-box .photolist .ptitle{
		line-height:30px;
	}

	.right_box .text-box .photolist .ptitle a{
		font-size:16px;
	}

	.left_box{
		width: 30%;
	}
	
 
	@keyframes show-menu {
		0%   {left:-30%;}
		100% {left:0;}
	}

	@keyframes hide-menu {
		0%   {left:0;}
		100% {left:-30%;}
	}

        .menubar{
              display:block;
        }

    .left_box{
       z-index:9999;
       right: 0;
       left: auto;
       display: none!important;
    }
.right_box .header{z-index: 9998;}
.layer-con-box{width:100%;margin-left: 0;margin-top: 0;}
.layer-con{left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;}
}

@media screen and (max-width: 992px) {
 
   .right_box .header{
      height:60px;
      line-height:60px;
   }

   .right_box .header .link{
       display:none;
   }

}

@media screen and (max-width: 768px) {
	
	.right_box .header .link{
		display:none;
	}

	.right_box .logo{
		width:90%;
		float:none;
	}

	.right_box .group .g-list li{
		padding-left: 25px;
		text-indent: -12px;
		line-height:1.4;
		padding-bottom:10px;
	}

	.right_box .group .g-list li:last-child{
		padding-bottom:0;
	}

	.right_box .text-box .news .pic,.right_box .text-box .cn{
		width:100%;
		float:none;
	}

	.right_box .text-box .news .pic{
		margin-top:10px;
	}

	.right_box .text-box .cn{
		margin:0;
	}

	.rolltop {
		position: fixed;
		bottom: 15px;
		right: 15px;
		color: black;
		font-size: 30px;
		opacity: 0.6;
	}

	
	.left_box{
		width: 45%;
	}


	@keyframes show-menu {
		0%   {left:-45%;}
		100% {left:0;}
	}

	@keyframes hide-menu {
		0%   {left:0;}
		100% {left:-45%;}
	}

        .contact iframe{
            width:100%;
            height:auto;
            min-height:200px;
        }


   .right_box .text-box .news li{
        padding-bottom: 20px;
    }

    .right_box .text-box .news{
       padding-right:0;
    }

    .right_box .header {
       height: auto;
       line-height: 1;
       padding: 10px 0;
    }

    .right_box .text-box .tb_subtitle{
        padding-top:20px;
    }
}

@media screen and (max-width: 414px) {

	.group .teacher .ti{
		width:100%;
		float:none;
		margin-bottom:20px;
	}
	
	.group .teacher .ti:nth-last-child(2){
		margin-bottom:0!important;
	}

	.divas-navigation span{
		width:23px;
	}

	.right_box .group .title{
		font-size: 18px;
		margin-left:0;
                padding-bottom: 0;
	}

	.right_box .group .g-list li,.right_box .text-box .teacher .content,.impression .itext, .honored-students .itext, .cooperations .itext{
		font-size:16px;
	}

	.right_box .text-box .teacher .rtitle{
		font-size: 22px;
		height: 40px;
		line-height: 40px;
	}

	.right_box .header .mtab{
		font-size: 16px;
		margin-top:0;
	}

	.right_box .address,.copyright{
		font-size:16px;
	}

	.right_box .text-box .news .pic{
		display:none;
	}

    .fastlink{
       display: block !important;
    }

    .submenu ul li a{
       font-size:18px;
    }

    .listpageer{
       display:none;
    }

   .listpageer2{
       display:block;
   }
	.left_box{/* top: 96px; *//* height: 80%; */}
	.left_box .group {
    height: 54px;
    }
	.left_box .group .t1 {
    
padding-top: 12px;
}
	.change-language a {

    margin-top: 15px;
}
	.left_box .menu{
		margin-top:20px;
	}
}